
@{
    ViewData["Title"] = "Index";
}
<h2>Home</h2>
<div class="container">
	<div class="dropdown">
		<button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			Menu
		</button>
		<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
			<a class="dropdown-item" href="#">Login</a>
			<a class="dropdown-item" href="#">First</a>
			<a class="dropdown-item" href="#">Second</a>
			<a class="dropdown-item" href="#">Third</a>
		</div>
	</div>
	</div>

